---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { EXPERIENCE } from '@/data/experience';

const lang = getLangFromUrl(Astro.url); // Obtener el idioma de la URL
const t = useTranslations(lang); // Obtener la función de traducción


const {title, position, url, startDate, endDate,  description } = Astro.props;

---

<div class="experience-item">
    <div class="dot"></div>
    <div class="header-container">
        <div>
            <h3>{title}</h3>
            <h4>{position}</h4>
        </div>
        <time>{endDate ? `${startDate} - ${endDate}` : startDate}</time>
    </div>
    <p>{description}</p>
    {url && <a href={url}>Link</a>}
</div> 

<style>
    .experience-item {
        position: relative;
        padding: 25px 0;
        background: linear-gradient(#13151a, #13151a) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
        border: 2px solid transparent;
        border-radius: 8px;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
        padding: 10px;
    }
    
    .dot {
        position: absolute;
        width: 0.75rem;
        height: 0.75rem;
        background-image: linear-gradient(225deg, #ff3caa70 50%, #ff3caa70 50%);
        transform: scale(1.1);
        border-radius: 50%;       
        left: -48px;
        margin-top: 0.375rem;
    }
    
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 4px;
    }

    time {
        padding-bottom: 0.35rem;
        font-size: 0.875rem;
        color: #bababa;
    }
    
    h3, h4 {
        font-weight: 600;
        color: #f9fafb;
        padding-bottom: 0.30rem;
    }

    h4{
        font-weight: normal;
    }
    
    p {
        color: #d1d5db; 
        line-height: 1.3rem;
        letter-spacing: 0.05rem;
    }

    a{
        color: #FF3CAC;
        font-size: 1.090rem;
    }

    a:hover{
        color: #2B86C5;
        text-decoration: underline;
    }

    
    body.open .dot, body.open time, body.open h3, body.open h4, body.open p,  body.open a {
        display: none;
   }

</style>