---

const {slug, image, image2, title, description, tecnologias, link, classList = [] } = Astro.props;
const lang = Astro.url.pathname.split('/')[1] || 'es';
---

<a href={`/${lang}/${slug}`} class="link-detail-proyect">
    <article class={["card-container", ...classList].join(' ')}>
        <div class="card">
            <div class="wrapper">
                <img src={image} class="cover-image" alt={`${title} cover`} />
            </div>
            <img src={image2} class="character" alt={`${title} character`} />                           
        </div>
        <div class="description-container">
            <h4>{title}</h4>
            <p>{description}</p>
            <div>
                <ul>
                    {tecnologias.map((tecnologia: unknown) => (
                        <li class="technologie">{tecnologia}</li>
                      ))}
                </ul>
            </div>
        </div>
        <div class="description-container span-container">
        <span>{link}</span>
        </div>  
    </article>
</a>

<style> 
    .card-container{
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    
    .card {
        width: 300px;
        height: 300px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        perspective: 8000px;       
    }

    .cover-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .wrapper {
        transition: all 0.5s;
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    .link-detail-proyect:hover .wrapper {
        transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
        box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    }

    .wrapper::before,
    .wrapper::after {
        content: "";
        opacity: 0;
        width: 100%;
        height: 80px;
        transition: all 0.5s;
        position: absolute;
        left: 0;
    }
    .wrapper::before {
        top: 0;
        height: 100%;
        background-image: linear-gradient(
            to top,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%
        );
    }
    .wrapper::after {
        bottom: 0;
        opacity: 1;
        background-image: linear-gradient(
            to bottom,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%
        );
    }

    .link-detail-proyect:hover .wrapper::before,
    .wrapper::after {
        opacity: 1;
    }

    .link-detail-proyect:hover .wrapper::after {
        height: 120px;
    }

    .character {
        width: 50%;
        height: auto;
        opacity: 0;
        transition: all 0.5s;
        position: absolute;
        z-index: -1;
    }

    .link-detail-proyect:hover .character {
        opacity: 1;
        transform: translate3d(0%, -30%, 100px);
    }

    .description-container{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        color: #fff;
        padding:  10px 5px 0 5px;

    }

    h4{
        font-size: 1.3rem;
        text-transform: uppercase;
        background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all .2s;
    }

    p{
        font-size: 0.90rem;
        text-align: center;
        letter-spacing: 0.05em;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 5px 0;
        margin-top: 0;
        list-style: none;
    }

    ul li{
        display: inline-block;
        height: 25px;
        line-height: 25px;
        position: relative;
        margin: 0 16px 8px 0;
        padding: 0 10px 0 12px;
        background: #00000088;    
        -webkit-border-bottom-right-radius: 3px;    
        border-bottom-right-radius: 3px;
        -webkit-border-top-right-radius: 3px;    
        border-top-right-radius: 3px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        color: #fff;
        font-size: 0.90rem;
        text-decoration: none;
        text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    }

    ul li::before{
        content: "";
        position: absolute;
        top:0;
        left: -12px;
        width: 0;
        height: 0;
        border-color: transparent #00000088 transparent transparent;
        border-style: solid;
        border-width: 12px 12px 12px 0;        
    }

    ul li::after{
        content: "";
        position: absolute;
        top: 10px;
        left: 1px;
        float: left;
        width: 5px;
        height: 5px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #13151a;
        -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
        box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
    }



    .icon-git{
        display: inline-flex;
        text-decoration: none;
        width: 40px;
        height: 40px;
        color: #000;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .icon-git::before{
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        transition: 0.3s ease-in;
    }

    .icon-git:hover::before{
        transform: scale(0);
    }
    
    .span-container{
        position: relative;
    }
    span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 12px 48px;
        color: #fff;
        background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
        background-position: 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 2.5s infinite linear;
        animation-fill-mode: forwards;
        -webkit-text-size-adjust: none;
        font-size: 1.2rem;
        font-weight: 600;
        text-decoration: none;
        white-space: nowrap;
    }
    .link-detail-proyect{
        text-decoration: none;
    }
    
    body.open .link-detail-proyect, body.open h4, body.open p, body.open span  {
        display: none;
   }

    @media(min-width: 500px){
        .card-container{
            width: 400px;
        }

        .card {
            width: 400px;
            height: 350px;
        }
    }

    @-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

</style>